/*code*/
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-align: left;
  font-family: Consolas, Monaco, monospace;
  word-spacing: normal;
  tab-size: 4;
  -moz-tab-size: 4;
  hyphens: none;
  position: relative;
  background: #f6f6f6;
  line-height: 1.2rem;
  overflow: auto;
  word-break: break-word;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: slategray
}

.token.punctuation {
  color: #999
}

.namespace {
  opacity: .7
}

.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted {
  color: #905
}

.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
  color: #690
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  color: #a67f59
}

.token.atrule, .token.attr-value, .token.keyword {
  color: #07a
}

.token.regex, .token.important, .token.variable {
  color: #905
}

.token.important, .token.bold {
  font-weight: bold
}

.token.italic {
  font-style: italic
}

.token.entity {
  cursor: help
}

.token.function {
  color: #000
}

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: hsla(24, 20%, 50%, .08);
  background: linear-gradient(to right, hsla(24, 20%, 50%, .1) 70%, hsla(24, 20%, 50%, 0));
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: .4em;
  left: .6em;
  min-width: 1em;
  padding: 0 .5em;
  background-color: hsla(24, 20%, 50%, .4);
  color: hsl(24, 20%, 95%);
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: .3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px white;
}

.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: .4em;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: -0.1rem;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
