body {
    margin: 0;
    font-family: "Georgia", "Times New Roman", serif;
    background: #eceff1;
}

* {
    box-sizing: border-box;
}

pre {
    margin: 1em 0;
}


h1 {
    color: #000033 !important;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
}

.title-meta {
    padding-bottom: 0.5em;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.main-content > * {
    font-style: normal;
    text-align: justify;
    line-height: 150%;
}

p > code {
    font-size: 0.85rem;
    padding: 2px 3px;
    margin: 0 3px;
    border-radius: 3px;
    background-color: #e2e2e2;
    font-family: Consolas, Monaco, monospace;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-size: 0.8rem;
    letter-spacing: 1px;
}

thead,
tfoot {
    background-color: rgb(228 240 245);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}


/* response */
@media screen and (max-width: 1100px) {
    .container {
        display: block;
    }

    .sidebar {
        max-width: 100%;
        padding: 1rem;
    }
}